body {
    font-family: Verdana, Arial, Tahoma, sans-serif;
}

img {
    height: 300px;
    width: auto;
}

.header {
    text-align: center;
}

.pg-header {
    font-size: 40px;
    font-weight: 900;
}

.description.header {
    background-color: hsl(120, 100%, 75%);
}

p.description {
    color: rgb(10, 10, 75);
}

.ingredients.header {
    background-color: hsl(55, 100%, 75%);
}

.steps.header {
    background-color: hsl(360, 100%, 75%);
}